.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-modal-overlay);
}

.modal-content {
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  position: relative;
  z-index: var(--z-modal);
  padding: 20px;
}